SocksPort 0
ORPort 9001
ExtORPort auto
BridgeRelay 1

ServerTransportListenAddr snowflake 0.0.0.0:443
ServerTransportPlugin snowflake exec /usr/bin/authbind --deep /usr/local/bin/snowflake-server --acme-hostnames {{ snowflake_server_hostname }} --acme-email {{ snowflake_server_acme_email }} --log {{ snowflake_server_log_path }}